<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>
    <link rel="stylesheet" href="./resources/css/content.css" th:href="@{/resources/css/content.css}" />


</head>
<body tiles:fragment="content">
<h1>FIELD LIST </h1>
<a href="/stdfieldForm" th:href="@{'/stdfieldForm'}"><img src="/resources/css/img/new.jpg" th:src="@{'/resources/css/img/new.jpg'}" class="gbr2"/></a>
<table>
    <thead>
    <tr>
        <th></th>
        <th>Kode</th>
        <th>Nama Field</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="grup : ${groupfields}">
        <td>
        <a href="/stdfieldForm/+ ${grup.kodeGroup}"
               th:href="@{'/stdfieldForm/'+ ${grup.kodeGroup}}"><img
                src="/resources/css/img/edit1.png" class="gbr1"/></a>
        </td>
        <td th:text="${grup.kodeGroup}"/>
        <td th:text="${grup.namaGroup}"/>
    </tr>
    </tbody>
</table>
</body>
</html>