<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>
    <link rel="stylesheet" href="./resources/css/content.css" th:href="@{/resources/css/content.css}" />

</head>
<body tiles:fragment="content">
<div>
    <p>*Note: Buat master Field dengan kode sama dengan contoh di bawah</p>
    <img src="/resources/css/img/field.png" th:src="@{'/resources/css/img/field.png'}"/>

</div>

</body>
</html>