<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
<head>

</head>
<body tiles:fragment="content">
<form action="#" th:action="@{/pasienForm/obat}" th:object="${obatRutin}" method="post">
<div>
    <label>Id Pasien</label>
    <input type="text" maxlength="100" th:value="${idPas}"
           th:class="${#fields.hasErrors('jenisObat')}?'fieldError' "/>
</div>
<div>
    <label>Jenis Obat</label>
    <input type="text" th:field="*{jenisObat}" maxlength="100"
           th:class="${#fields.hasErrors('jenisObat')}?'fieldError' "/>
</div>
<div>
    <label>Frekuensi</label>
    <input type="text"  th:field="*{frekuensi}" maxlength="50"
           th:class="${#fields.hasErrors('frekuensi')}?'fieldError'"/>
</div>
<div>
    <label>Dosis</label>
    <input type="text"  th:field="*{dosis}" maxlength="50"
           th:class="${#fields.hasErrors('dosis')}?'fieldError'"/>
</div>
    <button type="submit" name="create" >Create</button>
</form>
</body>
</html>